body {
  font-family: 'Merriweather', serif;
  margin: 0;
  background: #fdfdfd;
  color: #333;
}

header {
  background: #2c3e50;
  color: white;
  padding: 1em;
  display: flex;              /* coloca nome e menu lado a lado */
  justify-content: space-between; /* separa o título e os links */
  align-items: center;        /* centraliza verticalmente */
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;              /* deixa os itens na horizontal */
}

nav ul li {
  margin-left: 20px;          /* espaço entre os links */
}

nav ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2em;
  text-align: center;
}

footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}
